<article class="idea">
  <div class="idea-content">
    <%= content_tag(:h2, link_to(idea.title, idea)) %>
    <%= content_tag(:span, link_to(idea.category.title, idea.category),
                    :class => 'category') %>
    <%= content_tag(:span, link_to(idea.status.title, idea.status),
                    :class => 'status') if idea.status_id.present? %>
    <%= content_tag(:div, idea.description) %>
  </div>
</article>
