<h1>App Settings</h1>

<% ['category', 'status'].each do |group| %>
  <section class="group">
    <%= content_tag(:h2, group.pluralize.titleize) %>
    <%= simple_form_for group.classify.constantize.new do |f| %>
      <%= f.input :title, :label => false,
                  :placeholder => "New #{group.titleize}" %>
    <% end %>
    <ul>
      <% send("all_#{group.pluralize}").each do |setting| %>
        <%= content_tag(
          :li,
          link_to(setting.title, send("edit_#{group}_path", setting))
        ) %>
      <% end %>
    </ul>
  </section>
<% end %>
