<h1>App Settings</h1>

<% setting_groups.each do |group| %>
  <section class="group">
    <%= content_tag(:h2, group.titleize) %>
    <%= link_to(
      "New #{group.singularize.titleize}",
      new_setting_path(:group => group.singularize),
      :class => 'new'
    ) %>
    <ul>
      <% send(group).each do |setting| %>
        <%= content_tag(
          :li,
          link_to(setting.title, edit_setting_path(setting))
        ) %>
      <% end %>
    </ul>
  </section>
<% end %>
