<footer class="main">
  <span class="copyright">
    &copy; <%= Date.today.year %>
    <%= link_to(
      '@scdavis41',
      'https://twitter.com/scdavis41',
      :target => :blank
    ) %>
    +
    <%= link_to(
      '@tomstuder',
      'https://twitter.com/tomstuder',
      :target => :blank
    ) %>
  </span>
  <span class="legal">
    <%= link_to(
      'License',
      'https://github.com/seancdavis/brilliance/blob/master/LICENSE.md',
      :target => :blank
    ) %>
  </span>
</footer>
